{% extends 'user_home.html' %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow p-4">

        <h3 class="mb-4 text-center">Update Profile</h3>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" value="{{ user.email }}" class="form-control">
            </div>

            <div class="mb-3">
                <label>Mobile</label>
                <input type="text" name="mobile" value="{{ user.mobile }}" class="form-control">
            </div>

            <button type="submit" class="btn btn-success w-100">
                Update
            </button>

        </form>

    </div>
</div>

{% endblock %}